<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>971022277239-9aqirbld3f8hltmlc1vcpdg09itn5gkg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971022277239-9aqirbld3f8hltmlc1vcpdg09itn5gkg</string>
	<key>API_KEY</key>
	<string>AIzaSyDR2w8Lu4bm_DWTldVGKyhnCimpEEuVzOw</string>
	<key>GCM_SENDER_ID</key>
	<string>971022277239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>ucab-c7586</string>
	<key>STORAGE_BUCKET</key>
	<string>ucab-c7586.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971022277239:ios:cfdd5d6347683a127dc472</string>
	<key>DATABASE_URL</key>
	<string>https://ucab-c7586-default-rtdb.firebaseio.com</string>
</dict>
</plist>